target
.git
.gitignore
.vscode
.idea
node_modules
*.log
**/src/test
**/*.iml
.DS_Store
/.mvn/wrapper/maven-wrapper.jar

# do not copy local environment files
.env
coverage

# quarkus dev artifacts
.quarkus
